ALLOWED_HOSTS = {{ netbox_allowed_hosts | to_json }}

DATABASE = {
    'NAME': '{{ netbox_db_name }}',
    'USER': '{{ netbox_db_user }}',
    'PASSWORD': '{{ netbox_db_pass }}',
    'HOST': '{{ netbox_db_host }}',
    'PORT': '{{ netbox_db_port }}',
}

SECRET_KEY = '{{ netbox_secret_key }}'

LOGIN_REQUIRED = {{ 'True' if netbox_login_required else 'False' }}

BASE_PATH = '{{ netbox_base_path }}'

PAGINATE_COUNT = {{ netbox_paginate_count }}

TIME_ZONE = '{{ netbox_timezone }}'

DATE_FORMAT = '{{ netbox_date_format }}'
SHORT_DATE_FORMAT = '{{ netbox_short_date_format }}'
TIME_FORMAT = '{{ netbox_time_format }}'
SHORT_TIME_FORMAT = '{{ netbox_short_time_format }}'
DATETIME_FORMAT = '{{ netbox_datetime_format }}'
SHORT_DATETIME_FORMAT = '{{ netbox_short_datetime_format }}'

PREFER_IPV4 = {{ 'True' if netbox_prefer_ipv4 else 'False' }}
